body {
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: x-large;
  }


.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    margin: 10px;
    font-size: x-large;
    text-align: center;
    
}

.btn:hover {
    opacity: 0.8;
  }



#main {

    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    margin: 300px;
    padding: 50px;

}

#main2 {

    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    margin: 300px;
    padding: 50px;
   

} 




#Highscores{
    float: left;

}

#time{
    float: right;
    padding: 20px;
}


ul{
    list-style-type: none;
}

li{

    margin: auto;
    width: 200px;
    padding: 10px;
    color: rgb(224, 220, 220);

}

li:hover{

    cursor: pointer;
    background-color: rgb(64, 61, 65);

}

#savebutton:hover{
    cursor: pointer;
    opacity: 0.8;

}

